.Button {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px -2px black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem;
  transition: all 0.2s ease;
}
.Button:active {
  background-color: var(--blue);
  box-shadow: none;
  opacity: 0.75;
}

.primary {
  background-color: var(--green);
}

.secondary {
  background-color: var(--blue);
}

.danger {
  background-color: var(--red);
}
