.Fieldset {
  background: var(--background-accent);
  border-radius: var(--border-radius--medium);
  border: 1px solid var(--gray);
  box-shadow: 0 8px 10px -5px black;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem;
}

.Fieldset legend {
  background-color: var(--blue-gray);
  border-radius: var(--border-radius--oval);
  border: 1px solid var(--gray);
  box-shadow: 0 4px 8px -4px black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
  padding: 0.5rem 1.5rem;
}

.Fieldset > div {
  margin-bottom: 1.75rem;
}

.Fieldset > div:last-child {
  margin-bottom: 0;
}

@media (prefers-color-scheme: light) {
  .Fieldset legend {
    color: var(--background-accent);
    background: var(--blue);
  }
}
