:root {
  --blue-gray: #213547;
  --dark-gray-1: #242424;
  --dark-gray-2: #2e2e2e;
  --gray: gray;
  --light-gray: lightgray;
  --green: #55be4d;
  --red: red;
  --blue: #0047bb;
  --cream: #ffffe4;

  --background-color: var(--dark-gray-1);
  --background-accent: var(--dark-gray-2);
  --button--primary: var(--green);
  --button--secondary: var(--blue);
  --button--danger: var(--red);

  --border-radius--small: 0.25rem;
  --border-radius--medium: 0.5rem;
  --border-radius--oval: 5rem;
  --border-radius--circle: 50%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 280px;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

input,
textarea {
  background-color: rgb(30, 30, 30);
  border-radius: var(--border-radius--small);
  border: 1px solid var(--gray);
}
input:focus,
textarea:focus {
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --background-accent: #ffffff;
    --background-color: var(--light-gray);
  }

  input,
  textarea {
    background-color: white;
  }
}
